{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="content-section">
        <form method="POST">   
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter your Email to Reset your Password</legend>
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send Mail</button>
            </div>
        </form>
    </div>
{% else %}
You need to be logged in for this page!
<a href="{% url 'login' %}">Login Here!</a><br/>
{% endif %}
    
{% endblock content %}